---
import Layout from '../layouts/Layout.astro';
import ServiceCard from '../components/ServiceCard.astro';

const services = [
  {
    title: "Entretien Informatique",
    description: "Nous proposons un service de réparation et d'entretien de vos équipements informatiques",
    icon: "🛠️",
    href: "/entretien-informatique"
  },
  {
    title: "Modélisation et Impression 3D",
    description: "Service d'impression 3D professionnel, Création de modèles 3D techniques sur mesure",
    icon: "📐",
    href: "https://craftable.cybermaniac.fr/"
  },
  {
    title: "Photocopie et Impression",
    description: "Photocopie et Impression en noir et blanc ou en couleur",
    icon: "🖨️",
    href: "/photocopie"
  },
  {
    title: "Montage et Vente d'Équipements Informatiques",
    description: "Assemblage sur mesure de votre ordinateur et Matériel informatique de qualité adapté à vos besoins",
    icon: "💻",
    href: "/montage-vente"
  },
    {
    title: "Vente de filaments 3D en ligne",
    description: "Visitez notre nouvelle boutique en ligne de filaments 3D 100% Made in France",
    icon: "🧵",
    href: "https://boutique.cybermaniac.fr/"
  },
  {
    title: "Service à Domicile",
    description: "Dépannage informatique, Installation et Cours à domicile à Saint-Étienne et aux alentours",
    icon: "🏠",
    href: "/service-domicile"
  }
];

const horaires = [
  { jour: 'LUNDI', matin: '9h00 - 12h00', aprem: '14h00 - 19h00' },
  { jour: 'MARDI', matin: '9h00 - 12h00', aprem: '14h00 - 19h00' },
  { jour: 'MERCREDI', matin: '9h00 - 12h00', aprem: '14h00 - 18h00' },
  { jour: 'JEUDI', matin: '9h00 - 12h00', aprem: '14h00 - 19h00' },
  { jour: 'VENDREDI', matin: '9h00 - 12h00', aprem: '14h00 - 19h00' },
  { jour: 'SAMEDI', matin: 'fermé', aprem: 'fermé' },
  { jour: 'DIMANCHE', matin: 'fermé', aprem: 'fermé' },
];
---

<Layout title="Cybermaniac - Expert Informatique à Saint-Étienne">
  <main>
    <!-- Hero Section -->
    <section class="text-white py-10">
      <div class="container mx-auto px-4 text-center">
        <img src="/logo-ecriture.png " alt="Logo Cybermaniac" class="w-full lg:w-auto lg:h-20 mx-auto mb-4" />
        <p class="text-xl mb-8">Votre expert informatique à Saint-Étienne depuis plus de 18 ans</p>
        <img 
          src="/magasin.jpg" 
          alt="Devanture du magasin Cybermaniac" 
          class="w-full md:w-[600px] lg:w-[800px] lg:h-[500px] object-cover rounded-lg shadow-lg mx-auto"
        />
      </div>
    </section>

    <!-- About Section --> 
    <section id="about" class="py-4">
      <div class="container mx-auto px-4">
        <h2 class="text-5xl font-bold text-center text-white mb-8">Qui Sommes-nous ?</h2>
        <div class="max-w-4xl mx-auto text-center text-lg text-white space-y-6">
          <p>
            Cybermaniac est une petite boutique familiale stéphanoise depuis plus de 18 ans, nous sommes spécialisés en informatique et en impression 3D.
            Après des années passées au Cours Fauriel, nous sommes maintenant installés à la Métare depuis 2023. 
            Notre nouvelle boutique est le symbole de notre croissance et de notre dévouement envers nos clients.
          </p>
          <p>
            Notre équipe réunit des talents variés : experts en informatique,modélisateurs 3D... Nous sont prêts à répondre à tous vos besoins
            et nous vous garantissons une expérience unique et de qualité!
          </p>
          <p class="text-xl font-bold text-center text-white mb-8">Vos besoins sont nos défis!<p/>
        </div>
      </div>
    </section>

    <!-- Services Section -->
    <section id="services" class="py-20">
      <div class="container mx-auto px-4">
        <h2 class="text-5xl font-bold text-center mb-12 text-white">Nos Services</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
          {services.map(service => (
            <ServiceCard {...service} />
          ))}
        </div>
      </div>
    </section>

    <!-- Horaires -->
     <section id="horaires">
        <div class="container mx-auto px-4 p-6">
          <h2 class="text-5xl font-bold text-center mb-12 text-white">Horaires d'ouverture</h2>
          <div class="overflow-x-auto">
            <table class="w-full">
              <thead class="bg-Violet text-white">
                <tr>
                  <th class="py-2 px-4 text-left text-white">Jour</th>
                  <th class="py-2 px-4 text-left text-white">Matin</th>
                  <th class="py-2 px-4 text-left text-white">Après-midi</th>
                </tr>
              </thead>
              <tbody>
                {horaires.map(({ jour, matin, aprem }) => (
                  <tr class="border-b border-Violet">
                    <td class="py-2 px-4 font-medium text-white">{jour}</td>
                    <td class="py-2 px-4 text-white">{matin}</td>
                    <td class="py-2 px-4 text-white">{aprem}</td>
                  </tr>
                ))}
              </tbody>
            </table>
          </div>
        </div>
      </section>
  </main>
</Layout>