---
import Layout from '../layouts/Layout.astro';

const sections = [
  {
    title: "Conditions générales de ventes EBA SARL - CyberManiac",
    content: ` 
ARTICLE 1 - Champ d'application

Les présentes Conditions Générales de Vente (ci-après CGV) ont pour objet de définir les conditions dans lesquelles l’entreprise «EBA SARL », représentée par Monsieur GOUJON Samuel, 189 route du barrage, 42300 VILLERST, Identifiant SIRET : 900 126 129 RCS ROANNE, www.cybermaniac.fr , (ci-après indifféremment « Le Prestataire » ou « Le Vendeur » ou « EBA ») fournit aux clients (ci-après « Les Clients ou le Client ») qui lui en font la demande par quelque moyen que ce soit, les services d’assemblage, maintenance, réparation, installation de matériel informatique et tout autre Service proposé sur le site internet du Prestataire (ci-après « les Services ») ainsi que le matériel informatique (ci-après « les Produits »).
Toute commande de Services implique, de la part du Client, l'acceptation des présentes Conditions Générales de Vente par tout moyen. Les présentes Conditions Générales de Vente sont expressément agréées et acceptées par le Client, qui déclare et reconnaît en avoir une parfaite connaissance, et renonce, de ce fait, à se prévaloir de tout document contradictoire et, notamment, ses propres conditions générales d'achat pour les Clients professionnels, qui seront inopposables au Prestataire, même s'il en a eu connaissance.

ARTICLE 2 - Commandes

2-1 Les ventes de Services et de Produits ne sont parfaites qu'après acceptation de la commande du Client par le Prestataire qui est matérialisée par la signature du bon de commande ou par l’acceptation expresse du devis et après encaissement par celui-ci de l’intégralité du prix ou de l’acompte dû. Cet acompte ne pourra en aucun cas être qualifié d’arrhes. Il appartient au Client de vérifier l'exactitude de la commande et de signaler immédiatement toute erreur.
2-2 Les éventuelles modifications de la commande demandées par le Client ne seront prises en compte, dans la limite des possibilités du Prestataire, que si elles sont notifiées par écrit, cinq (5) jours ouvrés au moins avant la date prévue pour la fourniture de Services commandés, et matérialisées par la signature par le Client d'un bon de commande modifié avec ajustement éventuel du prix.
2-3 La commande est définitive une fois qu’elle est signée et renvoyée par le Client au Prestataire. Aucun droit de rétractation ne peut être invoqué. En cas d'annulation ou modification non approuvée par le Prestataire, de la commande par le Client moins de cinq (5) jours au moins avant la date prévue pour la fourniture des Services commandés, pour quelque raison que ce soit, l'acompte versé à la commande, tel que défini à l'article “ Conditions de règlement” des présentes Conditions Générales de Vente, sera de plein droit acquis au Prestataire et ne pourra donner lieu à un quelconque remboursement.

ARTICLE 3 - Tarifs

Les prestations de services sont fournies aux tarifs du Prestataire en vigueur au jour où la commande devient vente définitive, selon le devis préalablement établi par le Prestataire et accepté par le Client, comme indiqué à l'article “ Commandes ” ci- dessus. Les prix sont exprimés en euros, s'entendent nets, hors frais et hors taxes, sauf la prestation de services de formation qui n’est pas soumise à la TVA.
Le prix est majoré des frais d’installation, d’expédition des produits, de pièces, de déplacement ou tout autre frais. :
Une facture est établie et remise au Client lors de paiement du prix pour chaque fourniture de Services ou vente de Produit.
Les conditions de détermination du coût des services dont le prix ne peut être connu a priori ni indiqué avec exactitude dans le devis/bon de commande du fait de la nature du bien ou du service, ainsi que la méthode de calcul du prix permettant de vérifier ce dernier, seront communiquées au Client à sa demande.

ARTICLE 4 - Services

Les Services seront fournis par EBA dans le délai stipulé dans le devis et à défaut, dans un délai qui ne saurait être supérieur à un mois à compter de la réception par le Prestataire du bon de commande correspondant dûment rempli et signé, accompagné de l'acompte exigible. En cas de non-respect du délai, le client a droit de résilier le contrat avec remboursement des acomptes.
En cas d’urgence de la demande d’intervention du Client, le Prestataire pourra apporter une majoration de prix au minimum de 50% par rapport au prix convenu ou habituellement pratiqué hors urgence. Le Client devra stipuler sur le bon de commande le caractère urgent de sa commande.
La fourniture des Services pourra se produire en tout lieu désigné par le Prestataire, sous réserve de l’accord du Client. Les frais de déplacement du Prestataire seront indiqués dans le devis et devront dans tous les cas être pris en charge par le client, sauf à ce que le prix soit stipulé frais de déplacement inclus.
En cas de demande particulière du Client concernant les conditions de fourniture des Services, dûment acceptées par écrit par le Prestataire, les coûts liés ferontl'objet d'une facturation spécifique complémentaire, sur devis préalablement accepté par le Client
A défaut de réserves ou réclamations expressément émises par le Client lors de la réalisation des Services dans un délai de trois (3) jours calendaires après la date d’intervention, exprimés par écrit avec accusé de réception et notamment par mail à l’adresse cybermaniac42@gmail.com ceux-ci seront réputés conformes à la commande, en quantité et qualité, et ne pourront faire l’objet d’une réduction ou remboursement de prix.

ARTICLE 5 - Produits

Le Prestataire intervient sur du matériel informatique (ordinateur portable, PC, tablettes, imprimantes connectées, accessoires…) utilisant le système d’exploitation un système d’exploitation MICROSOFT WINDOWS.
Sauf accord express de EBA, le Prestataire n’intervient pas sur les produits de marque Mac, Apple, ni sur les systèmes d’exploitation y afférant.
Tout ordinateur assemblé dans les ateliers EBA est testé avec un système d’exploitation MICROSOFT WINDOWS 7 et/ou 8.1 et/ou 10. Les problèmes de compatibilité du système d’exploitation du Client et celui de EBA ne pourront en aucun cas être imputés au Prestataire.
Le client a cependant le droit de ne pas acheter une licence d’un système d’exploitation MICROSOFT lors de l’achat de son ordinateur. Dans ce cas, EBA n’installera ni ne fournira en aucun cas une version de la licence du système d’exploitation MICROSOFT lui appartenant.
Toute commande de produits par EBA SARL sur commande et pour le compte du Client, donneront lieu à un acompte égal au montant total des produits commandés pour son compte. Ces Produits ne pourront donner lieu à remboursement, remplacement, retour, que dans les conditions stipulées par le fournisseur des produits auprès duquel EBA SARL aura passé la commande, sans que ce dernier ne puisse voir sa responsabilité engagée, sauf en cas de faute grave dûment prouvée.
Les risques sur le Produit sont transférés au Client dès que le Produit est installé, livré au Client par le Prestataire, la plus ancienne des dates faisant foi. La propriété du Produit n’est transférée au Client qu’à compter du parfait règlement du Prestataire.

ARTICLE 6 - Garantie

1. Aucune garantie commerciale contractuelle n’est proposée par EBA SARL, en sus garanties légales visées ci-dessous.
Lorsque EBA SARL est qualifiable en tant que fabriquant, fournisseur ou producteur du produit vendu, les Produits fournis par celui-ci bénéficient de plein droit et sans paiement complémentaire, conformément aux dispositions légales, - de la garantie légale de conformité, pour les Produits apparemment défectueux, abîmés ou endommagés ou ne correspondant pas à la commande ou à l'achat immédiat dans un délai de deux ans à compter de sa livraison, - de la garantie légale contre les vices cachés provenant d'un défaut de matière, de conception ou de fabrication affectant les produits livrés et les rendant impropres à l'utilisation pendant deux ans à compter de la découverte du défaut, Afin de faire valoir ses droits, le Client est tenu d’informer EBA SARL par lettre recommandée avec accusé de réception du défaut de conformité et/ou dysfonctionnement et ce, dans de délai maximal d’un (1) mois suivant la facture de vente et/ou la délivrance du matériel. À défaut de respecter ce délai de dénonciation, le Client sera déchu de la possibilité d’invoquer la garantie. Le matériel doit être rendu dans son emballage d’origine, non endommagé, complet avec tous ses accessoires (disquettes et ou CDrom, DVD rom de pilotes, câblage, documentation, etc.). Si la demande de garantie a lieu plus de six (6) [EK6] mois après la livraison des produits et/ou services (la plus ancienne des deux dates faisant foi en cas de livraison packagée de produits et services), il appartient au Client de démontrer la non-conformité et/ou dysfonctionnement du produit ou service au moment de la livraison. La facture d’achat des produits et/ou services devra impérativement être jointe à la demande de garantie. Le Vendeur remboursera, remplacera ou fera réparer les Produits ou pièces sous garantie jugés non conformes ou défectueux. En cas de livraison, les frais d'envoi seront remboursés sur la base du tarif facturé et les frais de retour seront remboursés sur présentation des justificatifs. La responsabilité du Vendeur ne saurait être engagée dans les cas suivants : - en cas de mauvaise utilisation, d'utilisation à des fins professionnelles, négligence ou défaut d'entretien de la part du Client, comme en cas d'usure normale du Produit, d'accident ou de force majeure. La garantie du Vendeur est, en tout état de cause, limitée au remplacement ou au remboursement des Produits non conformes ou affectés d'un vice.
2. Compte tenu des modes de fabrication des écrans LED, des défauts de pixels ne constituent des vices de fabrication que s’ils divergent des spécifications et tolérance annoncées par le constructeur.
3. Le Client qui achète des pièces dans les conditions cash and carry se doit d’avoir les compétences techniques requises pour le montage de celles-ci ainsi que pour la détection de pannes et/ou d’incompatibilités éventuelles.
4. En aucun cas, il n’est inclus dans le prix, l’intervention du Vendeur pour conseils, informations ou autre.
5. Le matériel doit être testé par le Vendeur avant son remplacement par un produit identique, équivalent. Un frais de test sera toutefois facturé si le matériel s’avère être non défectueux.
6. La remise en état du matériel sous garantie ne prolonge pas la garantie sauf immobilisation du bien pendant plus de sept jours à la suite de la mise en œuvre de la garantie commerciale.
7. La garantie se verra annulée si le matériel n’a pas fait l’objet des précautions d’usage ou égard à la haute technicité des pièces ainsi qu’à la fragilité de certains d’entre elles (disques durs, mémoires, processeurs, etc.). La garantie ne couvre le matériel que dans le cadre d’une utilisation normale. En cas d’utilisation dans des conditions extrêmes la garantie sera réduite en conséquence.
8. La garantie ne pourra être mise en œuvre si les numéros de série et/ou scellés de garantie ont été déplacés, abîmés ou supprimés.
9. Sont exclus de la garantie EBA SARL, les composants présentant une détérioration physique comme par exemple : une carte mère rayée, socket processeur abimé, composants grillés, toutes conséquences dues à un défaut de ventilation et/ou refroidissement des éléments, notamment et ce sans que cette liste soit exhaustive : ventilateur cassé, système de refroidissement obstrue l’alimentation traitement poussiéreuse qu’elle entraîne des problèmes électriques.
10. Le Client est seul responsable du parfait entretien de son ordinateur (portable ou de bureau) et qu’il est dans l’obligation de le dépoussiérer régulièrement et généralement le conserver dans le bon état d’entretien. EBA SARL ne pourra donc être tenu responsable des conséquences d’un manque d’entretien de la part du client.
11. EBA SARL ne pourra être tenu responsable de la protection des données qui lui seraient confiées et vous demande de procéder à la sauvegarde préalable de vos données importantes.
12. Ne sont pas couverts par EBA SARL les problèmes de nature « software ».
13. La garantie ne couvre en aucun cas les frais de transport éventuel qui sera toujours aux risques et périls de l’acheteur Client.
14. Toute demande d’intervention sur le matériel sous garantie sera refusée ou facturée s’il apparaît qu’il s’agit d’un problème extérieur au matériel couvert par la garantie.
15. Tout matériel déposé en réparation deviendra propriété de EBA SARL s’il n’est pas réclamé endéans les six mois.
16. Le Prestataire garantit, conformément aux dispositions légales, le Client, les Services convenus à l'exclusion de toute négligence ou faute du Client. En tout état de cause, au cas où la responsabilité du Prestataire serait retenue, la garantie du Prestataire serait limitée au montant HT payé par le Client pour la fourniture des Services. 

ARTICLE 7 PAIEMENT

1. Le prix est payable comptant, en totalité au jour où la commande devient définitive selon les modalités précisées à l'article « Commandes » ci-dessus, par voie de paiement sécurisé : Modes de paiement :
- en espèces pour tout montant
- par chèque bancaire, pour toute commande supérieure ou égale à cinquante [CD7]
(50) euros TTC.
En cas de paiement par chèque bancaire, celui-ci doit être émis par une banque domiciliée en France métropolitaine. La mise à l'encaissement du chèque est réalisée à réception. Le Prestataire ne sera pas tenu de procéder à la fourniture des Services commandés par le Client/ livrer le Produit acheté, si le prix ne lui a pas été préalablement réglé en totalité dans les conditions et ci-dessus indiquées. Les paiements effectués par le Client ne seront considérés comme définitifs qu'après encaissement effectif des sommes dues par le Prestataire.
2. Si un acompte est exigé lors de la passation de la commande par le Client, le solde du prix est payable au comptant, au jour de la fourniture desdits Services ou livraison du Produit, dans les conditions définies au présent article ci-dessus. Cet acompte ne pourra en aucun cas être qualifié d'arrhes.
3. Nos factures sont payables dès réception à l’adresse de EBA SARL nette ou comptant, sans escompte sauf indications contraires au moment de la commande.
4. Toute facture non contestée par lettre recommandée dans les huit (8) jours de  son envoi, entraîne son acceptation.
5.. Nos factures sont payables nettes, au comptant, sans escompte.
6. Toute facture non payée à l’échéance portera, de plein droit et sans sommation ni mise en demeure ni autre formalité préalable, un intérêt de 12 % l’an du montant TTC du prix de la fourniture des Services ou de la vente du Produit et sera augmentée d’une indemnité forfaitaire égale à 20 % du montant dû avec un forfait minimum de 25 Euros. En outre, en cas de non-respect des conditions de paiement prévues lors de la commande, EBA SARL se réserve le droit de suspendre ou d'annuler la livraison des commandes en cours effectuées par le Client ou de suspendre ou d'annuler la fourniture des Services commandés par le Client et/ou de suspendre l'exécution de ses obligations.
7. Clause de réserve de propriété : Les marchandises, Produits livrés demeurent la propriété exclusive de EBA SARL jusqu’au plein acquittement de toutes les créances qui résultent de la convention de ventre par le Client : en cas de non- paiement à leur échéance, les Produits peuvent être reprises par le Vendeur.


ARTICLE 8 - Information précontractuelle - Acceptation du client

Le Client reconnaît avoir eu communication, préalablement à l'achat immédiat ou à la passation de sa commande, d'une manière claire et compréhensible, des présentes Conditions Générales de Vente et de toutes les informations et renseignements visés aux articles L 111-1 à L 111-7 du Code de la consommation, et en particulier :
- les caractéristiques essentielles du Produit et des Services,
- le prix des Produits, des Services et des frais annexes (livraison, par exemple) ;
- le délai auquel le Vendeur s'engage à livrer le Produit ou les Services,
- les informations relatives à l'identité du Vendeur, à ses coordonnées postales, téléphoniques et électroniques, et à ses activités, si elles ne ressortent pas du contexte,
- les informations relatives aux garanties légales et à leurs modalités de mise en œuvre,
- la possibilité de recourir à une médiation conventionnelle en cas de litige.
- l'information sur les mesures de protection technique des contenus numériques, mentionnée dans la directive 2011/83 (Déb. AN du 10-12-2013 p. 12930).


ARTICLE 9 - Propriété intellectuelle

Le Prestataire reste propriétaire de tous les droits de propriété intellectuelle sur les études, dessins, modèles, prototypes, etc, réalisés (même à la demande du Client) en vue de la fourniture des Services au Client. Le Client s'interdit donc toute reproduction ou exploitation desdites études, dessins, modèles et prototypes, etc, sans l'autorisation expresse, écrite et préalable du Prestataire qui peut la conditionner à une contrepartie financière.

ARTICLE 10 - Droit applicable - Langue

Les présentes Conditions Générales de Vente et les opérations qui en découlent entre le Prestataire et le Client sont régies par et soumises au droit français. Les présentes Conditions Générales de Vente sont rédigées en langue française. Dans le cas où elles seraient traduites en une ou plusieurs langues étrangères, seul le texte français ferait foi en cas de litige.

ARTICLE 11 – Litiges

TOUS LES LITIGES AUXQUELS LES OPERATIONS D'ACHAT ET DE VENTE CONCLUES EN APPLICATION DES PRESENTES CONDITIONS GENERALES DE VENTE POURRAIENT DONNER LIEU, CONCERNANT TANT LEUR VALIDITE, LEUR INTERPRETATION, LEUR EXECUTION, LEUR RESILIATION, LEURS CONSEQUENCES ET LEURS SUITES ET QUI N'AURAIENT PAS PU ETRE RESOLUS A L'AMIABLE ENTRE LE VENDEUR ET LE CLIENT, SERONT SOUMIS AUX TRIBUNAUX COMPETENTS DANS LES CONDITIONS DE DROIT COMMUN. Le Client reconnait qu’il est informé d’avoir la possibilité en tout état de cause recourir à une médiation conventionnelle, notamment auprès de la Commission de la médiation de la consommation (C. consom. art. L 534-7) ou auprès des instances de médiation sectorielles existantes, ou à tout mode alternatif de règlement des différends (conciliation, par exemple) en cas de contestation. Ces conditions Générales de Vente sont la propriété exclusive de EBA SARL et ne peuvent pas être reproduites par quelqu’un d’autre sous peine de violation des droits de propriété intellectuelle et poursuites.

CYBERMANIAC ©`
  },
];
---

<Layout title="Cybermaniac - Conditions Générales de Vente">
  <main class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold text-center text-white mb-12">Mentions Légales</h1>

    <div class="max-w-3xl mx-auto space-y-8">
      {sections.map(section => (
        <div class="bg-GrisFonce2 p-6 rounded-lg shadow-md border-2 border-[#7F44A6] rounded-lg p-6 text-white shadow-[0_0_15px_#7F44A6]">
          <h2 class="text-xl font-bold mb-4 text-Rose">{section.title}</h2>
          <div class="text-white whitespace-pre-line">
            {section.content}
          </div>
        </div>
      ))}
    </div>
  </main>
</Layout>