---
import Layout from '../layouts/Layout.astro';
import ContactInfo from '../components/ContactInfo.astro';
---
<Layout title="Cybermaniac - Service à Domicile">
  <main>
    <!-- Hero Section -->
    <section class="text-white py-10">
      <div class="container mx-auto px-4 text-center">
        <img src="/logo-ecriture.png " alt="Logo Cybermaniac" class="w-full lg:w-auto lg:h-20 mx-auto mb-4" />
        <p class="text-xl mb-8">Votre expert informatique à Saint-Étienne depuis plus de 18 ans</p>
        <h2 class="text-5xl font-bold text-center mb-12 text-white py-4">Service à Domicile</h2>
      </div>
    </section>

    <!-- Entretien Informatique Section -->
    <section id="entretien-info">
      <div class="container mx-auto px-4 max-w-4xl text-lg text-white space-y-6 ">
        <p>Chez Cybermaniac, nous proposons un service de dépannage informatique à domicile, ainsi que des installations et des cours personnalisés.</p>
        <p>Notre service à domicile comprend :</p>
        <ul class="list-disc pl-6 space-y-2">
          <li>Dépannage informatique à domicile / Installation de matériel informatique à partir de 55€</li>
          <li>Cours d'informatique personnalisés à partir de 30€/heure</li>
        </ul>
        <p>Nous intervenons dans la ville de Saint-Étienne et ses alentours. Pour plus d'informations ou pour prendre rendez-vous, n'hésitez pas à nous contacter ! </p>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
      <div class="container mx-auto px-4 max-w-4xl text-lg text-white space-y-6 py-8">
        <ContactInfo />
      </div>

  </main>
</Layout>