---
interface Props {
  title: string;
  description: string;
  icon: string;
  href?: string;
}

const { title, description, icon, href = "#" } = Astro.props;
---

<a href={href} class="bg-GrisFonce2 p-6 rounded-lg shadow-md border-2 border-[#7F44A6] rounded-lg p-6 text-white shadow-[0_0_15px_#7F44A6] hover:shadow-[0_0_35px_#7F44A6] transition-shadow duration-300">
  <div class="text-3xl text-blue-600 mb-4">{icon}</div>
  <h3 class="text-xl text-white font-semibold mb-2">{title}</h3>
  <p class="text-white">{description}</p>
</a>